* {
    box-sizing: border-box;
}
.safarihide {
	position:absolute;
	left:-10000px;
}
body {
	font-family:Verdana, sans-serif;
	font-size:12px;
	color:#000;
	background:#fff;
}
body, h1, h2, .navigation, #sidebar form #sidebar #files_list, #filelist .filedetails form, #filelist .filedetails ul, #logout {
	margin:0;
	padding:0;
}

.error {color:red;}
.ok {color:#326532;}
.hidden {display:none;}
a { text-decoration:none;}
a:hover {text-decoration:none;}
#logout {
	position:absolute;
	top:4px;
	right:4px;
	left:auto;
	bottom:auto;
	color:#fff;	
	text-align:right;
}
#logout p {
  margin:0;
}
h1 a, #logout a {
	color:black;
}
h1 {
	font-size:2em;
	font-weight:bold;
	padding:0.2em;
	margin-bottom:25px;
}
h2 {
	font-size:1.5em;
	font-weight:normal;
	margin-left:265px;
}

#main {
    display: block;
    height: 100%;
    }
    #header {
        height: 35px;
        font-size: 10px;
        background: white;
        padding: 0 20px;
    }
#main h2,
#main p {
  margin-left:25px;
}
form .description {
  font-size:0.8em;
  margin:0;
}


/* Status box and auto update box */
#status p, #autoupdate p {
  text-align:left;
}
#status p, 
#status ul, 
#autoupdate div {
	text-align:left;
	margin:0px;
  padding:0;
}
#status ul {
	padding:0 0 0 10px;  
}
#status, #autoupdate {
    background-color: #ffc;
    border: 1px solid black;
    padding: 5px;
    margin: 4px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 10px;
    background: white;
}

/* Sidebar */
    #sidebar {
        order: 1;
        min-width: 320px;
        max-width: 320px;
        padding: 0 20px;
        font-size: 10px;
        background: white;
        flex: 1;
    }
    #sidebar p {
        text-align:center;
    }
    #sidebar .section {
        background:#DAE3DA;
        margin:0 0 2.5em 0;
        padding-bottom:0.8em;
        border:1px solid black;
    }
    #sidebar .section form {
        padding:0.8em 0.8em 0 0.8em;
    }
    #sidebar h2 {
        font-size:1.2em;
        font-weight:bold;
        padding:0.4em 0 0.4em 0.4em;
        margin:0;
        border-bottom:1px solid black;
    }
    #sidebar h3 {
        font-weight:bold;
        font-size:1.2em;
        margin:1em 0 0.5em 0;
    }
    #sidebar ul {
        margin:0.8em 0 0 1.5em;
        padding:0;  
    }
    #sidebar #files_list, #sidebar #searchlist {
        margin-left:1.5em;
    }
    #sidebar #uploadbutton {
        margin:1em 0 0 0;
    }
    #sidebar .info {
      float:right;
    }
    #files_list span.error {
        cursor:pointer;
    }
    #uploadsection input {
        width:200px;
    }
    #mkdir, #q {
        width:140px;
    }
    #mkdirsubmit, #searchsubmit {
        width:40px;
    }
    #q {
        width:130px;
    }
    #searchsubmit {
        width:50px;
    }

    .label_highlight {
      font-weight:bold;
    }
    /* Search */
    div#searchoptions {
        margin:0.5em 0 0 0.3em;
    }
    dl#searchlist dt {
        font-size:1.2em;;
    }
    dl#searchlist dt.dir {
        font-weight:bold;
    }
    dl#searchlist dd {
        margin:0.3em 0 0.5em 1em;
        padding-left:0;
    }
    dl#searchlist dd a {
        color:#666;
    }
    dl#searchlist dd a:hover {
        color:#fff;
    }

/* File list */
    #filelist {
        order: 2;
        border: 1px solid black;
        margin: 0 20px 0 0;
        flex: 1 auto;
        display: block;
    }
        .imagesPreview {
            overflow: scroll;
            display: block;
            max-height: 500px;
        }
        #imagesPreviewHeader,
        #imagesPreviewFooter {
            width: 100%;
            height: 30px;
            padding: 5px;
            border-bottom: 1px solid #c3c3c3;
            display: inline-block;
        }
        #filelist .file {
            display: inline-block;
            float: left;
            border: 1px solid #c3c3c3;
            margin: 2px;
            padding: 2px;
            width: 130px;
            text-align: center;
            }
                #filelist .file:hover {
                    border: 1px solid #03a9f4;
                    background-color: #03a9f4;
                    color: white;
                }
            #filelist .file .preview,
            #filelist .file .name,
            #filelist .file .size,
            #filelist .file .date{
                width: 100%;
                float: none;
                font-size: 8px;
                height: 10px;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            #filelist .file .preview {
                text-align: center;
                position: relative;
                z-index: 0;
                margin: 0 5px;
                width: 116px;
                height: 174px;
                overflow: hidden;
                cursor: pointer;
            }
            #filelist .file .preview img{
                position: relative;
                height: 100%;
                left: 100%;
                margin-left: -200%;
            }
    #filelist div.name {
      padding:0;
      margin:0;
    }

    form#sort_form {
      margin:0;
      padding:0;
      float:right;
    }
    #sort {
      margin:0;
      padding:0;
    }

/* Edit form */

form#edit textarea {
	margin:1.5em 0 1em 0;
}
#savestatus {
	margin-left:265px;
}
/* Login box */
#loginbox {
	margin:25px;
	width:350px;
}
#loginbox div {
  clear:both;
}
#loginbox label {
  display:block;
  height:2.4em;
  width:100%;
}
#cookie_label {
  text-align:left;
  margin-left:116px;
}
#ft_user, #ft_pass {
  float:right;
  width:225px;
}
#login_button {
  float:right;
}
/* Footer */
    #footer {
        height: 35px;
        font-size: 10px;
        background: white;
        padding: 0 20px;
    }
.seperator {
	border-top:2px solid #326532;
}
#versioninfo {
	display:none;
	margin:1em 2em;
	padding:0.5em;
	border:2px solid #326532;
	background:#ffc;
	width:250px;
}





#bigPicPreview {
    padding: 5px;
    border: 1px solid #c3c3c3;
    max-width: 50%;
    max-height: 80%;
    float: left;
}
#bigPicData {
    width: 45%;
    float: right;
    }
    #bigPicData label {
        display: block;
        width: 90%;
        margin: 0 0 10px 0;
    }
.imagesPreview .dir {
    background: transparent url("folder.png") center center no-repeat;
    display: inline-block;
    float: left;
    border: 1px solid #c3c3c3;
    margin: 2px;
    padding: 176px 2px 2px 2px;
    width: 130px;
    height: 210px;
    font-size: 8px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
    width: 100%;
    }
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
    float: right;
    }
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button[disabled] {
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
        cursor: default;
    }
    #newValueFilenameLabel {margin-bottom: 10px;}
        /*#newValueFilenameLabel {margin-bottom: 10px;}*/

    #renameDialogButton {
        margin-right: 40px;
    }
    #deleteDialogButton {
        float: left;
        background: #ff0000;
        color: white;
    }
    #selectDialogButton {
        background: #149D14;
        color: white;   
    }